#### This Notebook is for exploration of final cleaned, merged version of coasters data sets

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("coasters_location_stats.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 360 entries, 0 to 359
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Rank            360 non-null    int64
 1   Name            360 non-null    object
 2   Park            360 non-null    object
 3   Location        360 non-null    object
 4   Supplier        359 non-null    object
 5   Year Built      360 non-null    int64
 6   Points          360 non-null    int64
 7   Year of Rank    360 non-null    int64
 8   City            360 non-null    object
 9   State           360 non-null    object
 10  Country         360 non-null    object
 11  Zip_Code        360 non-null    object
 12  material_type   354 non-null    object
 13  seating_type    354 non-null    object
 14  speed           345 non-null    float64
 15  height          348 non-null    float64
 16  length          342 non-null    float64
 17  num_inversions  352 non-null    float64
 18  manufacturer    354 non-null    object
 19  status          354 non-null    object
dtypes: float64(4), int64(4), object(12)
memory usage: 56.4+ KB

In [4]:
df.describe()

,Rank,Year Built,Points,Year of Rank,speed,height,length,num_inversions
count,360.000000,360.000000,360.000000,360.000000,345.000000,348.000000,342.000000,352.000000
mean,22.127778,1999.552778,358.911111,2016.500000,101.550725,44.741379,1210.391813,0.869318
std,15.180632,19.127559,335.865826,1.386364,22.946561,20.823446,385.968096,1.841272
min,1.000000,1914.000000,59.000000,2013.000000,39.000000,11.000000,365.000000,0.000000
25%,8.000000,1998.000000,117.000000,2016.000000,87.000000,31.000000,946.250000,0.000000
50%,20.500000,2006.000000,220.500000,2017.000000,100.000000,37.000000,1184.500000,0.000000
75%,35.250000,2011.250000,485.250000,2018.000000,116.000000,55.000000,1497.000000,0.000000
max,50.000000,2018.000000,1625.000000,2018.000000,192.000000,128.000000,2243.000000,7.000000

In [5]:
df.corr()

C:\Users\megan\AppData\Local\Temp\ipykernel_11528\1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

,Rank,Year Built,Points,Year of Rank,speed,height,length,num_inversions
Rank,1.000000,-0.145396,-0.791717,0.395740,-0.418958,-0.328402,-0.424603,0.212786
Year Built,-0.145396,1.000000,0.104830,-0.043225,0.248354,0.294179,0.164171,0.154007
Points,-0.791717,0.104830,1.000000,-0.414580,0.304893,0.259293,0.436965,-0.229614
Year of Rank,0.395740,-0.043225,-0.414580,1.000000,-0.135627,-0.120170,-0.221548,0.125825
speed,-0.418958,0.248354,0.304893,-0.135627,1.000000,0.931822,0.622252,-0.031850
height,-0.328402,0.294179,0.259293,-0.120170,0.931822,1.000000,0.592282,-0.028843
length,-0.424603,0.164171,0.436965,-0.221548,0.622252,0.592282,1.000000,-0.115851
num_inversions,0.212786,0.154007,-0.229614,0.125825,-0.031850,-0.028843,-0.115851,1.000000